._dash-undo-redo {
  display: none !important;
  background-color: black !important;
  left: auto !important;
  right: 10px !important;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  background-image: url("https://raw.githubusercontent.com/crypdick/exoplanet-orbits/master/stars-tile.jpg");
  background-repeat: repeat;
  }

